#footer{
	background-color: black;
	font-size:12px;
	height:60px;
	padding-top:20px;
	padding-bottom:20px;
	width: 100%;
	color: white;
}

#footer_menu{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#footer_menu > ul{
	list-style:none;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	-webkit-padding-start:0em;
	moz-webkit-margin-before:0em;
	moz-webkit-margin-after:0em;
	moz-webkit-padding-start:0em;	
}

#footer_menu > ul >li{
	display:inline-block;
	border: 0px solid white;
	width:24.5%;
	text-align: center;		
}

#footer_menu > ul >li >a {
	text-decoration: none;
	color:white;
	margin-left: auto;
	margin-bottom: auto;
}

#copyright{
	float:right;
	margin-right:4%;
	font-size:10px;
	margin-top:30px;
	color:white;
	border: 0px solid white;
}

ul{
	list-style:none;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	-webkit-padding-start:0em;
	moz-webkit-margin-before:0em;
	moz-webkit-margin-after:0em;
	moz-webkit-padding-start:0em;
	margin-left: 0px;
}

.boundary{
	border: 1px solid black;
}


.item{
	margin-bottom:50px;
	position:relative;
	padding:5px;
	vertical-align: top;
	background-color: white;
	clear:both;
	z-index: -20px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.item:hover{

}

.img{
	width: 100%;
	z-index: -20px;
}

.title{
	font-size: 16px;
	bottom: 5px;

	position: absolute;
}

.description{
	font-size: 12px;
	padding:3px;
	border:0px solid black;
	position:relative;
}

.circle{
	width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: black;
    display: inline-block;
}

.available_colors{
	margin-bottom: 4px;

}

.color_like{
	height: 40px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	position: relative;
	font-size: 12px;
	border-bottom: 1px solid #E6E6E6;
}

.colors{
	bottom:0px;
 	position: absolute;
}

.like{
	right: 0px;
	top: 8px;
	position: absolute;
	padding-right: 2px;
}

.price{
	font-size: 13px;
	font-family: 'our_font'
}

.title{
	font-size: 13px;
}

/* Friday misssed*/

.td{
	vertical-align: top;
}


#non_video{
	width: 45%;
	float: right;
}

.menu{
	margin-top:5px;
	margin-bottom:5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	display:inline-block;
	color:#B0AFAB;
	padding: 4px 30px 4px 0px;
	margin-bottom: 10px;
}

.menu > ul > li{
	display: inline-block;
	padding-right: 0px;
	margin-left: 23px;
	position: relative;
}

.menu > ul > li:hover{
	
}


.menu  ul  li  a{
	text-decoration: none;
	color:gray;
	font-size: 13px;
}

.menu  ul  li  a:hover{
	color:white;
}

.sub_menu{
	z-index: 200px;
	position: absolute;
	border: 0px solid red;
	padding-top: 6px;

}

ul.sub_menu li a{
	text-decoration: none;
	 color: #fff;
    background: gray;
    padding: 5px;
    display: inline-block;
}



.menu> ul> li ul.sub_menu{
	display: none;
	position: absolute;
	top: 20.5px;
	left: 0px;
	width: 120px;
}

.menu .sub_menu  li{
	display: block;
	border-bottom: 1px solid white;
}



ul.sub_menu> li > a {
	display: block;
	-webkit-transition: padding-left 0.3s ease-out;
	-moz-transition: padding-left 0.3s ease-out;
	-o-transition: padding-left 0.3s ease-out;
	transition: padding-left 0.3s ease-out;
}

ul.sub_menu> li > a:hover {
	padding-left: 35px;
	background: transparent;
}

.heart{
	cursor: pointer;
	padding-left: 35px;
}

.cursor{
	cursor: pointer;
}

/*----------------------------- container for profile and home page-------------------------------------*/

#container1{
	padding-top: 80px;
	padding-bottom: 20px;
	width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
}


.column{
	width: 256px;
	padding:0px 25px;
	display: inline-block;
	vertical-align: top;	
	border: 0px solid black;
}

#col_left_big{
	border: 0px solid red;
	display: inline-block;
	width: 500px;
}

#col_left{
	float: right;
}
/*----------------------------- container for profile and home page-------------------------------------*/


/*------------------------------Item_common_css.css-----------------------------------------------------*/

#profile_header{
	border-top: 2px solid gray;
	color:white;
	font-size: 14px;
	height: 30px;
	padding:0px 5px;
	background-color: white;
}

#profile_header1{
	float: right;
	display: block;
}

.profile_header {
	display:inline-block;
	border: 0px solid white;
	padding-left:12px;
	padding-right: 12px;
	padding-top: 4px;

}

.profile_header > a{
	color: gray;
	
	text-decoration: none;
}

.separator{
	width: 2px;
	height: 30px;	
	top:-2px;
	background-color: gray;
	display: inline-block;
	position: absolute;
}

#head2{
	border: 0px solid black;
	padding-left: 150px;
	position: relative;
	background-color: #EDE9E6;

}

.head2{
	display: block;
	padding-right: 20px;
	margin-bottom: 5px;
}

#category{
	font-size: 14px;
}

#lines{
	height: 10px;
	border: 1px solid black;
	border-left: 0px;
	border-right: 0px;
	margin-top: 10px;
	border-color: rgba(0,0,0,0.2);
}

select{
	background-color: #EDE9E6;
	background-image: url('../img/item/down_arrow.png');
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 0px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px;
    vertical-align: middle;
    padding: 0 4px;
    margin: 0px;

}

select:focus{
	outline: none;
}
/*------------------------------Item_common_css.css-----------------------------------------------------*/


@font-face{
	font-family:our_font;
	src:url("../font/Swiss_721_Light_Condensed.ttf");
}

* { font-family: "our_font" !important; }